.flex {
  display: flex;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.height-full {
  min-height: calc(100vh - var(--nav-height));
}

.flex-end {
  justify-content: end;
}

.flex-between {
  justify-content: space-between;
}

.flex-all-center {
  justify-content: center;
  align-items: center;
}

.center-offset {
  margin-bottom: 6rem;
}
